.section{
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1110px;
margin: auto;

img{
    border-radius: 8px;
}

span{
    color: var(--clr-accent);
}
}

.section p:first-of-type{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.section p:last-of-type{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.5);
    line-height: 25px;
    max-width: 55ch;
    margin-top: 3rem;
}

@media (max-width:1024px) {
    .section{
        flex-direction: column-reverse;
        text-align: center;
        padding: 1rem;

        img{
            width: 100%;
        }
    }

    .section div{
        padding-inline: 4rem;
    }
    .section p:last-of-type{
        max-width: unset;

    }
    
}

@media (max-width:768px){

    .section{
         max-width: 312px;

        div{
            padding-inline: 0;
            padding-top: 2rem;
        }

        img{
            max-width: 312px;
        }
    }
    .section p:first-of-type{
        font-size: 1.75rem;
    }
}