.cart {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    position: fixed;
    top: 20%;
    right: 15%;
    left: auto;
    bottom: auto;
    margin: 0;
    min-width: 350px;
}

.cart::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.cart img {
    max-width: 64px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container div:first-of-type>p {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 1.3px;
}

.container div:first-of-type>button {
    font-size: .875rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    text-decoration: underline;

    &:hover {
        color: var(--clr-accent);
    }
}

.cart div {
    display: flex;
    justify-content: space-between;
}

.entry {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.entry>div:first-of-type {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-right: auto;

}


.name {
    font-size: 1.125rem;
    letter-spacing: 1.3px;
}

.unitprice {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;

}

.entry>div:last-of-type {
    display: flex;
    align-items: center;
}

.checkout {
    background-color: var(--clr-accent);
    font-size: .8rem;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: .8rem 2rem;
    text-transform: uppercase;
    text-align: center;
    transition: background-color .3s ease-out;

    &:hover {
        cursor: pointer;
        background-color: #ea9f73;
    }
}

.counter {
    display: flex;
    background-color: var(--clr-grey);
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
    height: min-content;
}

.counter span {
    width: 32px;
    text-align: center;
}

.counter button {
    border: none;
    background-color: transparent;
    transition: background-color .3s ease-out;
    width: 32px;
    aspect-ratio: 1/1;
    font-size: .8rem;
    font-weight: bold;

    &:hover {
        background-color: rgb(190, 190, 190);
        color: var(--clr-accent);
        cursor: pointer;
    }
}

.total {
    font-size: .875rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.totalprice {
    font-size: 1.125rem;
    letter-spacing: 1.3px;
}
.emptymessage{
    margin: auto;
}
.emptyicon{
    margin: auto;
}
@media (max-width:1024px) {
    .cart {
        right: unset;
        left: 50%;
        translate: -50%;
        min-width: 320px;
    }

}