.navbar {
    font-family: var(--font-manrope);
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 0;
    place-self: center;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 25px;
    background-color: #191919;

    a {
        transition: color .3s ease-out;
    }

}

.navbarcontainer {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
    margin: auto;
    max-width: 1110px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.201);
    position: relative;
}

.hamburger,
.closemenu {
    display: none;
}


.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 2.125rem;

}

.navbar ul a:hover {
    color: var(--clr-accent);

}

.active {
    color: var(--clr-accent);
}

.navbarcontainer>button {
    position: relative;
}

.items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -20px;
    top: -10px;
    width: 23px;
    height: 23px;
    background-color: var(--clr-accent);
    border-radius: 50px;
    font-weight: 400;
    line-height: normal;
    color: white;
}

@media (max-width: 1024px) {

    .hamburger,
    .closemenu {
        display: block;
    }

    .navbarcontainer {
        padding-inline: 2rem;
        align-items: center;
    }

    .navbarcontainer ul {
        flex-direction: column;
        padding: 3rem;
        position: fixed;
        inset: 0 30% 0 0;
        background-color: #191919;
        z-index: 99;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbarcontainer ul[data-visible='true'] {
        transform: translateX(0%);

    }
}

@media (max-width: 768px) {
    .navbarcontainer>a {
        margin: auto;
    }
}