:root {

  --clr-dark: #000000;
  --clr-lighter-dark: #101010;
  --clr-light: #ffffff;
  --clr-darker-light: #fafafa;
  --clr-grey: #f1f1f1;
  --clr-accent: #D87D4A;
  --clr-lighter-accent: #FBAF85;
}


html,
body {
  max-width: 100vw;
  background-color: var(--clr-light);
  font-family: var(--font-manrope);
 

}

nav {
  color: var(--clr-light);

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

footer{

  background-color: var(--clr-lighter-dark);
}
