.main {
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: 8rem;
}

/********** HERO SECTION **********/

.hero {
  background-image: url("/images/home/desktop/image-hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 729px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919;
}

.hero section {
  width: 100%;
  max-width: 1110px;
  padding-inline: 2rem;
}

.hero div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 398px;
  margin-top: 3rem;


  h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 58px;
  }
}

.newproduct {
  color: rgba(255, 255, 255, 0.495);
  font-size: .8rem;
  letter-spacing: 10px;
  text-transform: uppercase;

}

.description {
  font-size: .9rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.752);
  max-width: 40ch;
}

/********** Features Blocks SECTION **********/

/********** ZX9 **********/

.zx9speaker {
  display: flex;
  justify-content: space-around;
  background-color: var(--clr-accent);
  background-image: url("/images/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -10rem -6rem;
  border-radius: 8px;
  height: 590px;
  overflow-y: hidden;
  margin-top: 8rem;


  img {
    height: fit-content;
    max-width: 400px;
    margin-top: 11%;
  }

}

.zx9speaker div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 35ch;
  color: white;
}

.zx9speaker div p:first-of-type {
  font-size: 3.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 58px;
  font-weight: bold;
  color: whi;
}

.zx9speaker div p:last-of-type {
  font-size: .9rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.752);
}

/********** ZX7 **********/

.zx7speaker {
  background-image: url('/images/home/desktop/image-speaker-zx7.jpg');
  height: 320px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  gap: 2rem;

  p {
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}


/********** YX1 **********/

.yx1earphones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;


  div {
    background-color: var(--clr-grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    gap: 2rem;
  }

  p {
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  img {
    border-radius: 8px;
  }

}


@media (max-width:1024px) {

  .main {
    padding-inline: 1.5rem;
    gap: 2rem;
  }
  .hero {

    background-image: url('/images/home/tablet/image-hero.jpg');
  }

  .hero section {
    display: flex;
    justify-content: center;

    div {
      text-align: center;
      align-items: center;
    }
  }

  .zx9speaker {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2rem;
    overflow-y: unset;
    height: auto;
      background-position: 0 -18rem;

    img {
      max-width: 200px;
    }

    div{
      align-items: center;
    }
  }
  .zx7speaker{
    background-image: url('/images/home/tablet/image-speaker-zx7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
  }
  .yx1earphones{

img{
    width: 100%;
   
  }
  div{
    align-items: center;
    padding-left: unset;
  }

  } 
}