.main {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    padding-bottom: 7.5rem;
}

.main header {
    width: 100%;
    background-color: #191919;
    color: white;
    text-align: center;
    padding-block: 9rem;
}

.main header h1 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.product {
    display: flex;
    max-width: 1110px;
    width: 100%;
    margin: auto;
    justify-content: space-between;

    img {
        max-width: 540px;
        border-radius: 8px;
    }

}

.product:nth-of-type(even) {
    flex-direction: row-reverse;

}

.product div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;


    p {
        color: var(--clr-accent);
        font-size: .8rem;
        letter-spacing: 10px;
        text-transform: uppercase;

    }

    h2 {
        max-width: 12ch;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.75rem;
        line-height: 38px;
    }

    h3 {
        color: rgba(0, 0, 0, 0.500);
        font-size: .9rem;
        font-weight: 400;
        line-height: 25px;
        max-width: 48ch;
    }
}

@media (max-width:1024px) {
    .product {
        padding-inline: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

    }
    .product img{
        max-width: 100%;
    }

    .product:nth-of-type(even) {
        flex-direction: column;

    }
    .product div {
        align-items: center;
        text-align: center;
    }
}

@media (max-width:768px) {


    .product img {
        max-width: 312px;
    }

    


}