.main {
    padding-top: 10rem;
    max-width: 1110px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    h1 {

        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 2.5rem;
        line-height: 38px;
    }

    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1.15px;

    }

    h3 {
        font-size: 1.5rem;
        letter-spacing: 1.7px;
        text-transform: uppercase;
    }


    h4 {
        color: rgba(0, 0, 0, 0.500);
        font-size: .9rem;
        font-weight: 400;
        line-height: 25px;

    }

    h5 {
        font-size: 1.125rem;
        letter-spacing: 1.3px;
    }
}

.main>button {
    color: rgba(0, 0, 0, 0.5);
    transition: color .3s ease-out;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    margin-right: auto;

    &:hover {
        cursor: pointer;
        color: black;
    }
}

.product {
    display: flex;

    justify-content: space-between;

    img {
        max-width: 540px;
        border-radius: 8px;
    }

}

.product>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;


    p {
        color: var(--clr-accent);
        font-size: .8rem;
        letter-spacing: 10px;
        text-transform: uppercase;

    }

    h1 {
        max-width: 12ch;

    }

    h4 {

        max-width: 48ch;
    }
}

.features {
    display: flex;
    gap: 10%;

    h2 {
        margin-bottom: 1.5rem;
    }

    h4 {
        max-width: 68ch;
        white-space: pre-line;
    }

    span {
        color: var(--clr-accent);
        font-weight: bold;
        margin-right: 1rem;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .3rem;

    }
}

.images {
    display: flex;
    justify-content: space-between;

    img {
        border-radius: 8px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.others {
    text-align: center;

    h2 {
        margin-bottom: 4rem;
    }

}

.otherscontainer {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    img {
        max-width: 350px;
        border-radius: 8px;
    }

}

@media (max-width:1024px) {
    .main {
        h4 {
            max-width: none;
        }
    }

    .main>button:first-of-type {
        padding-left: 1rem;
    }

    .product {
        padding-inline: 1rem;
        gap: 2rem;
        justify-content: flex-start;

        img {
            max-width: 310px;
        }
    }

    .features {
        flex-direction: column;
        padding: 1rem;
        gap: 4rem;

    }

    .images {
        gap: 1rem;
        padding: 1rem;

        div {
            gap: 1rem;
        }

        img {
            width: 100%;
        }
    }

    .otherscontainer {
        justify-content: center;
        gap: 1rem;

        img {
            width: 100%;
            max-width: 230px;
        }
    }

}

@media (max-width:768px) {
    .main {
        gap: 2rem;

        h1 {
            font-size: 1.75rem;
        }

        h2 {
            font-size: 1.5rem;
        }

    }



    .product {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1rem;

        img {
            max-width: 336px;
        }

    }



    .images {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;

        img {
            width: 100%;
        }
    }

    .otherscontainer {
        gap: 3rem;
        flex-direction: column;
    }
}